<%- include('partials/header') %>
<section class="container">
  <h1>Course Quiz</h1>
  <div id="quiz-container">
    <p id="description"></p>
    <div id="options"></div>
    <p>Score: <span id="score">0</span></p>
  </div>
</section>
<%- include('partials/footer') %>
<script src="/js/quiz.js"></script>